@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.top-formation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -2;
}

.top-black-box {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  position: relative;
}
.main-box {
  background-color: #0000ffcc;
  width: 100%;
  margin-top: -95px;
}

.bottom-black-box {
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}

.background {
  background-image: url('/image-circuit-board.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: white;
  z-index: -99;
  position:  absolute;
  width: 100vw;
}

.vertical-formations {
  margin-top: -40px;
  z-index: -2;
}

.verts {
  margin-top: -174px;
  z-index: -4;
}

.personal-image {
  float:right;
}

.menu-block {
  z-index: -1;
}

.steel1 {
  background: url('/steel.png');
  width: 1000px;
  margin-top: -585px;
  margin-left: -1150px;
}

.steel2 {
  background: url('/steel.png');
  width: 1000px;
  margin-top: -585px;
  margin-right: -1100px;
}
